{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 glass-card mt-5 text-center">
        <h3 class="fw-bold mb-4 accent-text">პაროლის აღდგენა</h3>
        <p class="text-white-50 small mb-4">მიუთითეთ მონაცემები და ადმინისტრაცია მოგწერთ Gmail-ზე.</p>
        <form method="POST">
            <input type="text" name="username" class="form-control mb-3" placeholder="იუზერნეიმი" required>
            <input type="email" name="email" class="form-control mb-3" placeholder="თქვენი Gmail" required>
            <button class="btn btn-premium w-100">მოთხოვნა</button>
        </form>
    </div>
</div>
{% endblock %}